body {
  display: flex;
  flex-direction: column;
  background-color: #f070a1;
  margin: 7%;
  /* margin: 10vw; */
}
h1 {
  font-family: "Sirin Stencil", cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px #696969;
}

h2 {
  font-family: "Sirin Stencil", cursive;
  text-transform: uppercase;
}

#feelin {
  font-size: 28vw;
  letter-spacing: 4px;
  text-align: center;
  line-height: 3px;
  margin-top: 5vh;
}

#hungryish {
  font-size: 15vw;
}

#page1 {
  background-color: #f070a1;
}

button {
  display: flex;
  flex-direction: row;
  background-color: #16ffbd; /* Green */
  border: solid;
  border-color: #298b16;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  font-family: "Gorditas", cursive;
  font-size: 60px;
}

button:hover {
  background-color: #12c998;
  /* border-bottom: rgb(0, 255, 42); */
  border-style: solid;
  border-bottom-width: 5px;
}

.movie_area {
  background-color: aqua;
  /* padding: 20px; */
}

.recipe_area,
.movie_area {
  background-color: #16ffbd;
  border-radius: 2%;
  /* margin-bottom: 55px; */
  /* min-height: 60vh; */
  /* padding: 5px; */
}

p {
  font-family: "Raleway", sans-serif;
  text-transform: initial;
  font-size: 16px;
}

#movie_description {
  padding: 10px;
}
#recipe_image {
  padding: 15px;
  /* margin: 5px; */
}
#container {
  text-align: center;
  align-items: center;
  margin-top: 15px;
}
a {
  color: black;
}
img {
  display: flex;
  justify-content: space-around;
  margin: auto;
}
/* 
#recipe_area,
#movie_area {
  padding: 20px;
} */
/* ********************* Loading spinner start ******************* */
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ********************* Loading spinner end ******************* */
